<div class="dashboard__form-api-key">
  <%= form_with url: candidates_path, method: :get do |form| %>
    <div class="input-wrapper">
      <%= form.label :email, "Email" %>
      <%= form.text_field :email %>
      <%= form.label :created_at_from, "Created at - from" %>
      <%= form.date_field :created_at_from %>
      <%= form.label :created_at_to, "Created at - to" %>
      <%= form.date_field :created_at_to %>
      <%= form.label :connected, "Connected?" %>
      <%= form.select :connected, ['true', 'false'] %>
      <%= form.submit "Filter" %>
    </div>
  <% end %>
</div>